<h2>DashBoard</h2>
<%= link_to "Show All Posts", posts_path %>
<br>
<%= link_to "Sign In", new_usermodel_session_path %>
<br>
<%= link_to  "Sign Up", new_usermodel_registration_path %> 

<%= link_to "Logout", destroy_usermodel_session_path, method: :delete %>